<!DOCTYPE html>
<html>
<head>
    <title>DIJIANG CODE</title>
    <link href = "../../static/buttons/try.css" type = "text/css" rel = "stylesheet"/>
</head>
<body>

    <div id  = "generate">
        Generate your code!
    </div>

    <form action = "{% url 'buttons:generatecode' %}" method = "post">
        {% csrf_token %}
        <input type = "submit" id = "generatecode" name = "generatecode" value = "Generate">
    </form>



    <div id  = "TypeIn">
        Or, type in the generated code!
    </div>
    <form action = "{%  url 'buttons:verifycode' %}" method = "post">
        {% csrf_token %}
        <input id = "typein_button" type = "text" name = "verifycode"  placeholder="Enter here...">
        <input type = "file" name="files">
        <input id = "typein_submit" type = "submit" value = "submit">
    </form>


</body>
</html>
